@page
@model IndexModel
@{
    ViewData["Title"] = "TickTaccToe";
}

<div class="text-center">
    <h1 class="display-4">Play a game of TickTaccToe</h1>
    <button class="btn btn-primary">Start Game</button>
</div>
